@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-field:focus {
        outline: none;
        box-shadow: 0 0 0 1px rgba(65, 157, 218, 0.5);
    }

    .message {
        position: relative;
        word-wrap: break-word;
        @apply max-w-md rounded-lg py-2 px-6 mb-4;
    }
    
    /* add a small blue triangle to the top of the "message" element, 
       giving it an appearance resembling a speech bubble */
    .message:after {
        content: "";
        top: 0;
        position: absolute;
        border: 0.75em solid transparent;
        border-top-color: blue;
        display: block;
    }

    .assistant:after {
        left: -0.45em;
        border-top-color: inherit;
    }

    .user:after {
        right: -0.45em;
        border-top-color: inherit;
    }

    .type-indicator span {
        display: inline-block;
        padding: 0 0.075em;
        animation: type-indicator 1s ease-in-out infinite;
        transform: translateY(0);
    }

    .type-indicator span:nth-child(2) {
        animation-delay: 150ms;
    }

    .type-indicator span:nth-child(3) {
        animation-delay: 300ms;
    }
}

@keyframes type-indicator {
    0% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
}